ul{
	padding: 0;
	text-decoration: none;
}

li {
	list-style: none;
}

a {
	list-style: none;
	color: #0074d9;
	text-decoration: none;
}

.selected-page {
	background-color: #0074d9;
	color: #fff;
}

.img-flex {
	width: 100%;
}

.global-crater-maat{
	background-color: #efefef;
	padding: none;
}

@media only screen and (min-width: 15em) { 

	ul {
		display: inline-block;
	}

	li {
		display: inline-block;
	}

	nav {
		text-align: center;
	}


}


@media only screen and (min-width: 38em) { 


	nav {
		text-align: left;
		display: inline;
	}

}